.titulos {
    color: black;
}
ol { counter-reset: item }
li{ display: block }
li:before { content: counters(item, ".") " "; counter-increment: item }

.img-background {
  width: 300px;
  height: 200px;
  background-image: url("../img/descarga.jfif");
}
