.titulos {
    color: black;
}
ol { counter-reset: item }
li{ display: block }
li:before { content: counters(item, ".") " "; counter-increment: item }


.img-background {
  height: 500px;
  background-image: url("../img/1.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  width: 500px;
  border-left-style: solid;
  border-right: solid 1px #000000;
  border-top: solid 1px #000000;
  border-bottom-style: solid;
}

.img-background:hover {
  background-size: 50%
}
#contnav {
width: 200px;
border-left-style: solid;
border-right: solid 1px #000000;
border-top: solid 1px #000000;
border-bottom-style: solid;

}
#navegador {
margin: 0em auto;
list-style: none;
}
#navegador li {
margin: 5px;
}
