body {
  background-image: url("../img/back.jpg");
}



a["target"]{
  text-decoration: none;
  color: red;
}
.titulos {
  color: rgba(123,221,123, 0.8);
}
ol:last-child{
  color: red;
}
ol {
  counter-reset: item
}

div + li a{
  color: orange;
}

li {
  display: block;
  opacity: 1
  color: red;  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
li:hover {
  margin-left: 5px;
}
#distinto{
  color: lightblue;
}

li:before {
  content: counters(item, ".") " ";
  counter-increment: item
}
div{

}

.indice {
  background-image: url(../img/1.jpg);
  margin-left: calc(50% - 500px/2);
  -moz-transform: scale(0.8);
-webkit-transform: scale(0.8);
-o-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
  border: 1px solid red;
  height: 650px;
  background-color: white;
  padding: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  border-left-style: solid;
  border-right: solid 1px #000000;
  border-top: solid 1px #000000;
  border-bottom-style: solid;


}


.asdsad {

}

#contnav {
  width: 200px;
  border-left-style: solid;
  border-right: solid 1px #000000;
  border-top: solid 1px #000000;
  border-bottom-style: solid;
}

#navegador {
  margin: 0em auto;
  list-style: none;
}

#navegador li {
  margin: 5px;
}
